<li class="list-group-item p-0" id="<%=task.sortable_id%>">
  <div class="row mx-0 <%= "light-blue" if task.completed? %>" id="<%=dom_id(task)%>">

    <div class="col-auto border-right-red p-3 text-center">
	    <%= check_box_tag "", 1, task.completed?, data: { remote: true, url: toggle_project_task_path(project, task), method: :post } %>
	  </div>

		<div class="border-right col p-3 task-text <%= "text-decor-line" if task.completed? %>">
			<span><%=task.title%></span>
			<div class="col-auto fa-buttons flatpickr <%= "d-none" if task.completed? %>">
        <%= form_with model: [project, task], class: "test-pickr" do |form| %>
          <%= form.text_field :task_deadline, class: "d-none",data: {input: ""} %>
          <a class="input-button" title="<%= task_deadline(task) %>" data-toggle>
            <i class="fa fa-calendar " ></i>
          </a>
        <% end %>
      </div>
		</div>

    <div class="px-1 py-3 text-center col-auto fa-buttons">
      <a href="#" class="px-2">
        <i class="fa fa-unsorted text-secondary"></i>
      </a>

      <span>|</span>

      <%= link_to edit_project_task_path(project,task),data:{remote:true}, class:"px-2" do %>
        <i class="fa fa-pencil text-secondary"></i>
      <% end %>

      <span>|</span>

      <%= link_to project_task_path(project,task), method: :delete, data: { remote: true, confirm: 'Are you sure?'}, class: "delete-task px-2" do %>
        <i class="fa fa-trash text-secondary"></i>
      <% end %>
    </div>
  </div>
</li>

