
  <div class="row mx-0">

    <div class="col-auto border-right p-3 text-center">
	    <%= check_box_tag dom_id(task,"checkbox"), 1, task.completed?, data: { remote: true, url: toggle_project_task_path(project, task), method: :post } %>
	  </div>

		<div class="border-right col p-3 <%= "text-decor-line" if task.completed? %>">
			<span><%=task.title%></span>    
		</div>

				
		    <div class="px-1 py-3 text-center col-auto fa-buttons <%= "d-none" if task.completed? %>">
		      <a href="#" class="px-2">
		        <i class="fa fa-unsorted" style="font-size:16px;color:#747474;"></i>
		      </a>
		
		      <span>|</span>
		
		      <%= link_to edit_project_task_path(project,task),data:{remote:true}, class:"px-2" do %>
		        <i class="fa fa-pencil" style="font-size:16px;color:#747474;"></i>
		      <% end %>
		
		      <span>|</span>
		
		      <%= link_to project_task_path(project,task), method: :delete, data: { remote: true, confirm: 'Are you sure?'}, class: "delete-task px-2" do %>
		        <i class="fa fa-trash" style="font-size:16px;color:#747474;"></i>
		      <% end %>
				</div>
		</div>

  
