<div id="<%=dom_id(project)%>">
  <ul class="shadow list-group mb-5">
  <li class="d-flex list-group-item p-0 blue-gradient">
    <div class="m-2 pt-2">
      <a href="#" class="px-2">
        <i class="fa fa-calendar fa-white-shadow fa-dark-style" ></i>
      </a>
    </div>
    <div class="flex-grow-1 p-3 text-white font-weight-bold text-dark-shadow ">
      <span> <%= project.title %> </span>
    </div>
    <div class="p-3">
      <%= link_to edit_project_path(project), class:"px-2" do %>
        <i class="fa fa-pencil text-dark-shadow fa-heading-style"></i>
      <% end %>
      <span class="fa-heading-style">|</span>
      <%= link_to project, method: :delete, data: { remote: true, confirm: 'Are you sure?' }, class: "delete-project px-2" do %>
        <i class="fa fa-trash text-dark-shadow fa-heading-style"></i>
      <% end %>
    </div>
  </li>

  <% if project %>
      <%= form_with model: [project,@task] do |task| %>
        <li class="d-flex list-group-item light p-0 light-grey new-task rounded-0" >
          <div class="m-2 pt-1">
            <a href="#" class="px-2"><i class="fa fa-plus fa-green-style" ></i></a>
          </div>
          <div class=" input-group ">
            <%= task.text_field :title, placeholder: "Start typing here to create a task..." , class:"form-control my-2 border-left-0 border-bottom-0 border-secondary"%>
              <div class="input-group-append">
                  <%= task.submit "Add task", class:"btn my-2 mr-2 px-4 text-white font-weight-bold border-top border-secondary green-gradient text-dark-shadow" %>
       
              </div>
          </div>
        </li>
    <% end %>
    
    <% project.tasks.each do |task| %>
      <li class="list-group-item p-0">
        <div class="d-flex">
          <div class="border-right p-3 text-center">
            <input type="checkbox">
          </div>
          <div class="border-right flex-grow-1 p-3">
            <span><%=task.title%></span>    
          </div>
          <div class="px-2 py-3 text-center">
             <a href="#" class="px-2">
             <i class="fa fa-unsorted" style="font-size:16px;color:#747474;"></i>
            </a>
            <span>|</span>
            <%= link_to edit_project_task_path(project,task), class:"px-2" do %>
              <i class="fa fa-pencil" style="font-size:16px;color:#747474;"></i>
            <% end %>
            <span>|</span>
            <%= link_to project_task_path(project,task), method: :delete, data: { remote: true, confirm: 'Are you sure?'}, class: "delete-task px-2" do %>
              <i class="fa fa-trash" style="font-size:16px;color:#747474;"></i>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>

</ul>
</div>
