  <ul class="shadow list-group mb-5 border-bottom border-secondary rounded-bottom" id="<%=dom_id(project)%>">
  <li class="list-group-item p-0 blue-gradient">
    <div class="row mx-0">
      <div class="col-auto m-1 px-2 pt-2 flatpickr">
        <%= form_with model: project, class: "test-pickr" do |form| %>
          <%= form.text_field :deadline, class: "d-none",data: {input: ""} %>
          <a class="input-button" title="<%= project.deadline ? project.deadline.strftime("Deadline is: %B %d, %Y") : "Set deadline" %>" data-toggle>
            <i class="fa fa-calendar fa-white-shadow fa-dark-style" ></i>
          </a>
        <% end %>
      </div>
      <div class="col p-3 text-white font-weight-bold text-dark-shadow ">
        <span class="project-title"> <%= project.title %> </span>
      </div>
      <div class="p-3 fa-buttons col-auto">
        <%= link_to edit_project_path(project), data: { remote:true, toggle: 'modal' }, class:"px-2" do %>
          <i class="fa fa-pencil text-dark-shadow fa-heading-style"></i>
        <% end %>
        <span class="fa-heading-style">|</span>
        <%= link_to project, method: :delete, data: { remote: true, confirm: 'Are you sure?' }, class: "delete-project px-2" do %>
          <i class="fa fa-trash text-dark-shadow fa-heading-style"></i>
        <% end %>
      </div>
    </div>
  </li>

  <% if project %>
      <%= form_with model: [project,@task], id: "new_task_form" do |task| %>
        <li class="d-flex list-group-item light p-0 light-grey new-task rounded-0" >
          <div class="m-1 pt-2 px-1">
            <a><i class="fa fa-plus fa-green-style" ></i></a>
          </div>
          <div class=" input-group ">
            <%= task.text_field :title, placeholder: "Start typing here to create a task..." , class:"form-control my-2 border-left-0 border-bottom-0 border-secondary"%>
              <div class="input-group-append">
                  <%= task.submit "Add task", class:"btn my-2 mr-2 px-3 text-white font-weight-bold border-top border-secondary green-gradient text-dark-shadow" %>
       
              </div>
          </div>
        </li>
    <% end %>
    <div class="sortable">
    <% project.tasks.each do |task| %>
        <%= render partial: 'tasks/task', locals: { project: project, task: task} %>
    <% end %>
    </div>
  <% end %>

</ul>

